.text-center {
    text-align: center;
    margin-left: 70px;
}

.bg-red{
    background: red;
}
 .mx-auto{
    margin: auto;
 }

.flex{
     display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-cemter{
    
    align-items: center ;
}

